.Rproj.user/
.RData
.Ruserdata
.Rhistory
*.pper
.Proj*
*.Rproj.user
*.pper
data/Reflectance_measurements/Relectance_2017_material/80/untitled.eps
data/Reflectance_measurements/Relectance_2017_material/80/untitled.fig
*.pper
CI95.pdf
CI80.pdf
CI50.pdf
.Rproj.user/2AD58C85/rmd-outputs
.Rproj.user/2AD58C85/pcs/workbench-pane.pper
.Rproj.user/2AD58C85/pcs/windowlayoutstate.pper
.Rproj.user/2AD58C85/pcs/source-pane.pper
.Rproj.user/2AD58C85/pcs/files-pane.pper
.Rproj.user/2AD58C85/rmd-outputs
.Rproj.user/2AD58C85/pcs/workbench-pane.pper
.Rproj.user/2AD58C85/pcs/windowlayoutstate.pper
.Rproj.user/2AD58C85/pcs/source-pane.pper
.Rproj.user/2AD58C85/pcs/files-pane.pper
*.pper
.Rproj.user/2AD58C85/pcs/files-pane.pper
.Rproj.user/2AD58C85/pcs/source-pane.pper
.Rproj.user/2AD58C85/pcs/windowlayoutstate.pper
.Rproj.user/2AD58C85/pcs/workbench-pane.pper
.Rproj.user/2AD58C85/rmd-outputs
.Rproj.user/2AD58C85/pcs/files-pane.pper
