.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cxlb7q7fhmy7x/000003.snapshot
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cxlb7q7fhmy7x/000003.png
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cxlb7q7fhmy7x/000003.metadata
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cxlb7q7fhmy7x/000002.csv
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cwy4ix589tp4j/000005.snapshot
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cwy4ix589tp4j/000005.png
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cwy4ix589tp4j/000005.metadata
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cwy4ix589tp4j/000004.csv
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cvjx516t028yb/000003.error
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cvjx516t028yb/000002.csv
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cvbgj5ap8z4fx/000003.rdf
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cvbgj5ap8z4fx/000003.metadata
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cvbgj5ap8z4fx/000002.csv
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cs7x8uhfz4app/000002.csv
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/00000b.snapshot
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/00000b.png
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/00000b.metadata
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/00000a.csv
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/000009.snapshot
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/000009.png
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/000009.metadata
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/000008.csv
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/000007.snapshot
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/000007.png
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/000007.metadata
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/000006.csv
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/000005.snapshot
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/000005.png
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/000005.metadata
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/000004.csv
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/000003.snapshot
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/000003.png
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/000003.metadata
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/000002.csv
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cqtm9vehjmpkj/000003.snapshot
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cqtm9vehjmpkj/000003.png
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cqtm9vehjmpkj/000003.metadata
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cqtm9vehjmpkj/000002.csv
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cox53cvftxj30/000003.rdf
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cox53cvftxj30/000003.metadata
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cox53cvftxj30/000002.csv
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cldmw3e84eh81/000003.snapshot
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cldmw3e84eh81/000003.png
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cldmw3e84eh81/000003.metadata
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cldmw3e84eh81/000002.csv
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/ckehn95wqp44a/000002.csv
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/chunks.json
.Rproj.user/2AD58C85/sources/prop/INDEX
.Rproj.user/2AD58C85/sources/prop/2A9C4506
.Rproj.user/2AD58C85/sources/per/t/B4B981B7-contents
.Rproj.user/2AD58C85/sources/per/t/B4B981B7
.Rproj.user/shared/notebooks/paths
.Rproj.user/2AD58C85/sources/per/t/B4B981B7
.Rproj.user/2AD58C85/sources/per/t/B4B981B7-contents
.Rproj.user/2AD58C85/sources/prop/2A9C4506
.Rproj.user/2AD58C85/sources/prop/INDEX
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/c3w5ent9mr75o/000002.csv
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/ceqz60qj5m1dk/000002.csv
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/chunks.json
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/ckehn95wqp44a/000002.csv
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cldmw3e84eh81/000002.csv
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cldmw3e84eh81/000003.metadata
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cldmw3e84eh81/000003.png
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cldmw3e84eh81/000003.snapshot
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cox53cvftxj30/000002.csv
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cox53cvftxj30/000003.metadata
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cox53cvftxj30/000003.rdf
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cqtm9vehjmpkj/000002.csv
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cqtm9vehjmpkj/000003.metadata
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cqtm9vehjmpkj/000003.png
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cqtm9vehjmpkj/000003.snapshot
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cqweu857gchdd/000002.csv
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/000002.csv
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/000003.metadata
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/000003.png
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/000003.snapshot
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/000004.csv
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/000005.metadata
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/000005.png
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/000005.snapshot
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/000006.csv
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/000007.metadata
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/000007.png
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/000007.snapshot
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/000008.csv
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/000009.metadata
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/000009.png
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/000009.snapshot
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/00000a.csv
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/00000b.metadata
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/00000b.png
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cr2hbrh7cobsw/00000b.snapshot
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cs7x8uhfz4app/000002.csv
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cvbgj5ap8z4fx/000002.csv
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cvbgj5ap8z4fx/000003.metadata
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cvbgj5ap8z4fx/000003.rdf
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cvjx516t028yb/000002.csv
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cvjx516t028yb/000003.error
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cwy4ix589tp4j/000004.csv
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cwy4ix589tp4j/000005.metadata
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cwy4ix589tp4j/000005.png
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cwy4ix589tp4j/000005.snapshot
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cxlb7q7fhmy7x/000002.csv
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cxlb7q7fhmy7x/000003.metadata
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cxlb7q7fhmy7x/000003.png
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/cxlb7q7fhmy7x/000003.snapshot
.Rproj.user/shared/notebooks/paths
.Rproj.user/2AD58C85/pcs/windowlayoutstate.pper
.Rproj.user/2AD58C85/pcs/workbench-pane.pper
.Rproj.user/2AD58C85/sources/prop/2A9C4506
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/chunks.json
.Rproj.user/2AD58C85/pcs/windowlayoutstate.pper
.Rproj.user/2AD58C85/pcs/workbench-pane.pper
.Rproj.user/2AD58C85/sources/prop/2A9C4506
.Rproj.user/shared/notebooks/C433DAED-Ophiocoma_psychometric/1/s/chunks.json
.Rhistory
